@media only screen and (max-width:768px) {
    section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        padding: 80px;
        gap: 60px;
    }
}